@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600;9..144,700;9..144,800;9..144,900&family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Modern Negra";
  src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

html, body {
  width: 100%;
  background-color: #f3f0ed;
  color: #3d3228;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@theme {
    --font-display: "Fraunces", serif;
    --font-sans: "Mona Sans", sans-serif;
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif: "DM Serif Text", serif;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer components {
    .hero-bg {
        @apply relative;
    }

    .hero-bg::before {
        content: "";
        @apply absolute inset-0 opacity-8 pointer-events-none;
        background-image: url('/images/hero-bg.png');
    }

    .hero-text {
        @apply 
            left-[15%] top-[30%]
            sm:left-[20%] sm:top-[45%] 
            md:left-[24%] md:top-[42%] 
            lg:left-[26%] lg:top-[37%] 
            xl:left-[23%] xl:top-[38%] 
            2xl:left-[30ch%] 2xl:top-[36%];
    }

    .star-container {
        @apply 
            left-[0%] top-[29%]
            sm:left-[5%] sm:top-[43%] 
            md:left-[7%] md:top-[40%] 
            lg:left-[10%] lg:top-[36%] 
            xl:left-[13%] xl:top-[36%] 
            2xl:left-[15%] 2xl:top-[34%];

        .star {
            @apply w-30 sm:w-40 md:w-52 lg:w-65 xl:w-64 2xl:w-70 -mr-20 sm:-mr-25 md:-mr-30 lg:-mr-40 2xl:-mr-45;
        }
    }

    nav {
        @apply fixed z-50 w-full;

        div {
            @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
        }

        p {
            @apply text-3xl -mb-2;
        }

        a {
            @apply cursor-pointer text-nowrap md:text-base text-sm;
        }

        ul {
            @apply flex-center lg:gap-12 gap-7;
        }
    }
}