@import "tailwindcss";

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer components {
  main {
    @apply w-full overflow-x-hidden;
  }

  nav {
    @apply fixed z-50 w-full;

    div {
      @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
    }

    p {
      @apply text-3xl -mb-2;
    }

    a {
      @apply cursor-pointer text-nowrap md:text-base text-sm;
    }

    ul {
      @apply flex-center lg:gap-12 gap-7;
    }
  }
}
