@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Modern Negra";
  src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

html, body {
  width: 100%;
  background-color: #f3f0ed;
  color: #3d3228;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-sans);
  letter-spacing: 0.01em;
}

@theme {
    --font-sans: "Mona Sans", sans-serif;
    --font-modern-negra: "Modern Negra", serif;
    --font-serif: "DM Serif Text", serif;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer components {
    .hero-bg {
        @apply relative;
    }

    .hero-bg::before {
        content: "";
        @apply absolute inset-0 opacity-55 pointer-events-none;
        background-image: url('/images/hero-bg.png');
    }

    .hero-text {
        @apply 
            left-[8%] top-[32%]
            sm:left-[12%] sm:top-[38%] 
            md:left-[18%] md:top-[40%] 
            lg:left-[22%] lg:top-[38%] 
            xl:left-[20%] xl:top-[38%] 
            2xl:left-[25%] 2xl:top-[36%];
    }

    .star-container {
        @apply 
            left-[-2%] top-[30%]
            sm:left-[2%] sm:top-[36%] 
            md:left-[5%] md:top-[38%] 
            lg:left-[8%] lg:top-[36%] 
            xl:left-[11%] xl:top-[36%] 
            2xl:left-[15%] 2xl:top-[34%];

        .star {
            @apply 
                w-30 
                sm:w-40 
                md:w-45 
                lg:w-65 
                xl:w-60 
                2xl:w-70 
                -mr-20
                sm:-mr-25 
                md:-mr-30 
                lg:-mr-40 
                2xl:-mr-45;
        }
    }

    nav {
        @apply fixed z-50 w-full;

        div {
            @apply flex md:flex-row flex-col md:justify-between items-center gap-4 sm:gap-5 py-4 sm:py-5 px-4 sm:px-6 lg:px-8 container mx-auto;
        }

        p {
            @apply text-2xl sm:text-3xl -mb-2;
        }

        a {
            @apply cursor-pointer text-nowrap text-sm md:text-base;
        }

        ul {
            @apply flex-center gap-6 sm:gap-8 lg:gap-12;
        }
    }
}